//Import Variables //
@import './variables/__all';

//Import Mixins //
@import './mixins/__all';

// Import Utils //
@import  './util/__all';

// Import Components //
@import './components/__all';

// Import Sections //
@import './sections/__all';


body {
    position: relative;
    margin: 0;
    background-color: #FAFAFA;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}