<footer class="main-footer wow fadeInUp" data-wow-delay="0.3s">
    <div class="container-interna">
        <div class="container">
            <button class="scroll-top"></button>
            <div class="row">
                <div class="col-md-4">
                    <a href="#">
                        <img class="main-img" src="../images/ico/logo-footer.svg" alt=""></a>

                        <h3 class="mt-2 mt-lg-4">
                            +55 11 3074-5800
                            <br/>
                            comercial@tarpon.com.br
                        </h3>

                        <p class="mb-1 pt-2 mt-lg-4">
                            Av. Magalhães de Castro, 4800
                        </p>
                        <p class="mb-1">
                            Torre 1, 12º andar
                        </p>
                        <p class="mb-1">
                            São Paulo - SP - CEP 05679-010
                        </p>
                    </div>
                    <div class="col-md-8 right-content">
                        <h4 class="pt-3 pt-lg-5 mt-lg-4">
                            Imprensa
                        </h4>

                        <h3 class="pt-2 pt-lg-5">
                            Loures Consultoria
                        </h3>
                        <p>
                            sktarpon@loures.com.br
                        </p>

                        <div class="row pt-2 pt-lg-4">
                            <div class="col-lg-6">
                                <h6>
                                    Carolina devidé
                                </h6>
                                <p class="mb-0">
                                    caroline.devide@loures.com.br
                                    <br/>
                                    11 99310-0555
                                </p>
                            </div>
                            <div class="col-lg-6 mt-2 mt-lg-0">
                                <h6>
                                    Thais de Araujo
                                </h6>
                                <p class="mb-0">
                                    thais.araujo@loures.com.br<br/>
                                    11 99137-0064
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>