.banner-parallax{
    position: relative;
    background-color: #ED544C;
    width: 100vw;
    height: 480px;
    overflow: hidden;
    z-index: 3;

    @media screen and (max-width: $bp-LG){
        height: 310px;
    }

    &__element{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: absolute;
        right: 170px;

        @media screen and (max-width: 1300px){
            right: 70px;
            padding-top: 20px;
        }

        @media screen and (max-width: $bp-LG){
            right: 50px;
            padding-top: 60px;
        }

        @media screen and (max-width: $bp-MD){
            left: 6px;
            right: unset;
            padding-top: 20px;
        }

        @media screen and (min-width: 767px) and (min-height: 1023px) and (max-height: 1200px){
            right: 40px;
            left: unset;
        }

        .desc{
            color: #fff;
            font-size: 36px;
            font-weight: 400;
            margin-right: 30px;
            text-align: right;
            max-width: 500px;

            @media screen and (max-width: 1200px){
                font-size: 30px;
                max-width: 400px;
            }

            @media screen and (max-width: $bp-MD){
                font-size: 18px;
                padding-left: 5px;
                margin-right: 0;
                order: 2;
                text-align: left;
                max-width: 240px;
            }

            @media screen and (max-width: 376px){
                font-size: 17px;
                padding-top: 5px;
            }

            @media screen and (min-width: 767px) and (min-height: 1023px) and (max-height: 1200px){
                font-size: 24px;
                max-width: 340px;
                padding-top: 6px;
                padding-left: 10px;
                order: 1 !important;
                text-align: right;
                padding-right: 12px;
            }

        }

        img{
            width: 300px;

            @media screen and (max-width: 1300px){
                width: 270px;
            }

            @media screen and (max-width: $bp-LG){
                width: 230px;
            }

            @media screen and (max-width: $bp-MD){
                width: 140px;
                transform: scaleX(-1);
                margin-left: 3px;
            }

            @media screen and (min-width: 767px) and (min-height: 1023px) and (max-height: 1200px){
                width: 200px;
                transform: none;
                order: 2;
            }
            
        }
    }
}