.home-banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 4;

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-size: cover;
        background-position: center center;
        object-fit: cover;
        z-index: -1;
    }

    &__line {
        position: absolute;
        left: 0;
        top: 45vh;
        left: 250px;
        width: 190px;
        @media screen and (max-width: 1300px) {
            left: 150px;
        }
        @media screen and (max-width: 1180px){
            width: 140px;
            top: 50vh;
        }

        @media screen and (max-width: $bp-LG){
            width: 130px;
            top: 55vh;
            left: 40px;
        }

        @media screen and (min-height: 860px) {
            top: 53vh;
        }

        @media screen and (min-height: 1200px) {
            top: 74vh;
        }

        @media screen and (max-width: $bp-SM) {
            left: 20px;
            width: 90px;
            top: 70vh;
        }
        @media screen and (max-height: 668px) and (max-width: $bp-SM) {
            top: 65vh;
        }
        @media screen and (max-height: 580px) and (max-width: $bp-SM) {
            top: 58vh;
        }
    }

    &__more {
        position: absolute;
        bottom: 0;
        right: 190px;
        display: flex;
        flex-direction: row;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        justify-content: center;
        align-items: center;
        background-color: $color-primary;
        padding: 42px 13px;
        color: #fff;
        font-size: 18px;
        letter-spacing: 0.4px;
        font-weight: 300;
        transition: all 0.4s;
        @media screen and (max-width: 1300px) {
            right: 130px;
        }
        @media screen and (max-width: $bp-SM) {
            right: 40px;
            font-size: 16px;
            padding: 35px 13px;

            .ico {
                width: 12px;
            }
        }
        &:hover {
            color: #fff;
            font-size: 19px;
        }

        .ico {
            width: 14px;
            margin-left: -1px;
            margin-top: 5px;
        }
    }
}
