.nosso-time {
    position: relative;
    overflow: hidden;

    .shape-top {
        position: absolute;
        top: -82px;
        right: 0;
        width: 94%;
        opacity: 0.8;
    }

    &__content {
        position: relative;
        z-index: 4;
        padding-left: 30px;
        padding-top: 163px;
        padding-bottom: 30px;

        @media screen and (max-width: $bp-LG){
           padding-left: 0;
           padding-top: 40px;
        }

        
    }

    &__item {
        width: 100%;
        margin-bottom: 45px;
        &:hover {
            .main-img {
                .overlay {
                    pointer-events: all;
                    opacity: 1;
                }

                & > img {
                    @include scale(1.2);
                }
            }
        }

        .main-img {
            position: relative;
            width: 100%;
            height: 480px;
            overflow: hidden;
            cursor: pointer;
            @media screen and (max-width: 1400px) {
                height: 420px;
            }
            @media screen and (max-width: $bp-XL) {
                height: 390px;
            }
            @media screen and (max-width: $bp-LG) {
                height: 370px;
            }

            & > img {
                position: relative;
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease-in;
                z-index: 2;
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                pointer-events: none;
                width: 100%;
                height: 100%;
                background-color: rgba(255,255,255,.5);
                transition: all 0.3s ease-in;
                z-index: 3;

                .more {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1.5px solid $color-primary;
                    text-align: center;
                    padding: 27px 0;
                    width: 120px;
                    height: 120px;
                    font-weight: 400;
                    background-color: #fff;
                    opacity: 0.8;
                    @media screen and (max-width: $bp-MD) {
                        padding: 13px 0;
                    }
                    &:hover {
                        .arrow {
                            opacity: 1;
                        }

                        .text {
                            margin-right: 10px;
                        }
                    }

                    .text {
                        display: block;
                        font-size: 30px;
                        color: $color-primary;
                        transition: all 0.4s;
                        margin-bottom: 9;
                        z-index: 3;
                        @media screen and (max-width: $bp-MD) {
                            font-size: 24px;
                        }

                    }

                    .arrow {
                        position: absolute;
                        right: -1px;
                        bottom: -1px;
                        width: 52px;
                        opacity: 0;
                        transition: all 0.4s;
                    }
                }
            }
        }

        .nome {
            font-size: 35px;
            font-weight: bold;
            color: $color-secondary;
            margin-bottom: 1px;
            margin-top: 10px;
        }

        .cargo {
            font-size: 25px;
            color: #484848;
            line-height: 1.1;
        }
    }

    &__modal {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        background-color: $color-secondary;
        pointer-events: none;
        opacity: 0;
        z-index: 10;
        transition: all 0.4s;
        overflow: hidden;

        @media screen and (max-width: $bp-LG) {
            overflow-y: auto;
        }

        &[data-visible="true"] {
            opacity: 1;
            pointer-events: all;
        }

        &::after{
            content: '';
            background-color: #fff;
            width: 78vw;
            height: 78vw;
            position: absolute;
            left: -30%;
            transform: translateY(-20%);
            z-index: -1;
            top: 0;
            border-radius: 50%;

            @media screen and (max-width: $bp-XL){
                width: 94vw;
                height: 94vw;
                left: -40%;
            }

            @media screen and (max-width: $bp-LG){
                display: none;
            }
        }

        .shape-left {
            position: absolute;
            bottom: -380px;
            left: 63px;

            @media screen and (max-width: $bp-LG){
                display: none;
            }
        }

        .close {
            position: absolute;
            z-index: 4;
            right: 57px;
            top: 35px;
            height: 42px;
            width: 42px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-image: url("../images/ico/close.png");
            opacity: 1 !important;
            transition: all 0.4s;
            outline: none !important;
            border: none !important;
            box-shadow: none !important;

            @media screen and (max-width: $bp-LG) {
                height: 30px;
                width: 30px;
                right: 21px;
                top: 24px;
            }
            &:hover {
                @include scale(1.3);
            }
        }

        .right {
            position: relative;
            height: 100%;
            padding-top: 80px;

            &::after{
                @media screen and (max-width: $bp-LG){
                    content: '';
                    background-color: #fff;
                    width: 222vw;
                    height: 222vw;
                    position: absolute;
                    left: -54%;
                    transform: translateY(-210vw);
                    z-index: -1;
                    top: 0;
                    border-radius: 50%;
        
                }
            }
        
            @media screen and (max-width: $bp-LG){
                padding-top: 80px;
            }

            @media screen and (min-width: $bp-LG) and (max-height: 680px){
                padding-top: 0;
            }
            
            .depoimento {
                position: relative;
                font-size: 35px;
                font-weight: 600;
                font-style: italic;
                color: #fff;

                @media screen and (max-width: $bp-XL){
                    font-size: 30px;
                }

                @media screen and (max-width: $bp-LG){
                    font-size: 22px;
                    padding: 0 40px;
                    padding-bottom: 80px;
                }

                @media screen and (min-width: 1800px){
                    font-size: 42px;
                }

                &::after {
                    content: "“";
                    position: absolute;
                    left: -200px;
                    top: 120px;
                    color: $color-primary;
                    font-size: 380px;
                    font-weight: bold;
                    font-style: normal;
                    line-height: 0;

                    @media screen and (max-width: $bp-XL){
                        font-size: 320px;
                        left: -180px;
                        top: 110px;
                    }

                    @media screen and (max-width: $bp-LG){
                        font-size: 120px;
                        top: -20px;
                        left: 20px;
                    }

                    @media screen and (min-width: 1800px){
                        font-size: 440px;
                        left: -240px;
                    }
                }

                &::before {
                    content: "”";
                    position: absolute;
                    right: 20px;
                    bottom: -40px;
                    color: $color-primary;
                    font-size: 230px;
                    font-weight: bold;
                    line-height: 0;
                    font-style: normal;

                    @media screen and (max-width: $bp-LG){
                        font-size: 120px;
                        bottom: 40px;
                        right: 30px;
                    }
                    
                }

                p {
                    max-width: 480px;
                }
            }
        }

        .content {
            height: 100%;
            overflow: hidden;
            padding-left: 150px;
            
            @media screen and (max-width: $bp-LG) {
                padding-left: 0;
                height: auto;
            }

            .about {
                padding-top: 70px; 
                
                @media screen and (max-height: 680px){
                    padding-top: 10px;
                }

                @media screen and (max-width: $bp-LG){
                    overflow-y: auto;
                    padding-left: 0;
                    padding-right: 20px;
                    padding-top: 40px;
                    padding-left: 20px;
                    background-color: #fff;
                }

            }

            .nome {
                font-size: 39px;
                font-weight: bold;
                color: $color-secondary;
                margin-bottom: 1px;
                margin-top: 10px;

                @media screen and (min-width: 1800px){
                    font-size: 60px;
                }
            }

            .cargo {
                font-size: 25px;
                color: #484848;
                line-height: 1.3;
                margin-bottom: 30px;

                @media screen and (min-width: 1800px){
                    font-size: 35px;
                }
            }

            .desc {
                font-size: 18px;
                max-width: 380px;

                @media screen and (min-width: 1800px){
                    font-size: 23px;
                    max-width: 500px;
                }

                p {
                    margin-bottom: 23px;
                }
            }

            .social {
                margin-top: 50px;

                @media screen and (max-width: $bp-LG){
                    margin-top: 0;
                    margin-bottom: 30px;
                }
    

                img {
                    width: 40px;
                    transition: all 0.4s;

                    @media screen and (min-width: 1800px){
                        width: 60px;
                    }

                    &:hover {
                        @include scale(1.1);
                    }
                }
            }

        }
    }
}
