.main-footer {
    position: relative;
    padding: 110px 0 130px 0;
    color: $color-dark;
    word-wrap: break-word;

    .container{
        position: relative;
    }

    @media screen and (max-width: $bp-MD){
        padding: 20px 0 60px;

        .main-img{
            width: 120px;
        }
    }

    .main-img{
        margin-bottom: 20px;
    }

    h3{
        font-weight: bold;
        font-size: 28px;

        @media screen and (max-width: $bp-MD){
            font-size: 22px;
        }
    }

    p{
        font-size: 18px;

        @media screen and (max-width: $bp-MD){
            font-size: 16px;
        }
    }

    h4{
        text-transform: uppercase;
        font-size: 30px;

        @media screen and (max-width: $bp-MD){
            font-size: 24px;
        }
    }

    h6{
        color: #484848;
        font-size: 19px;
        margin-bottom: 3px;
        font-weight: bold;
    }

    .right-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        padding-left: 102px;

        @media screen and (max-width: 1400px){
            padding-left: 130px;
        }

        @media screen and (max-width: $bp-MD){
            padding-left: 15px;
            margin-top: 20px;
            width: 98%;
            border-top: 1px solid #b4b4b4;
        }

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 30px;
            width: 1px;
            background-color: rgba(0,0,0,.5);
            height: 100%;

            @media screen and (max-width: 1400px){
                left: 60px;
            }

            @media screen and (max-width: $bp-MD){
                display: none;
            }

        }
    }
}
